asgiref==3.3.4
bs4==0.0.1
Django==2.2.4
gunicorn==20.1.0
Pillow==7.1.2
pytz==2019.2
sqlparse==0.3.0
html-table-parser-python3==0.2.0
beautifulsoup4==4.8.0
requests==2.22.0
whitenoise==5.2.0
